
<!DOCTYPE html>
<html>
<head>
	<script src="jquery-3.2.0.min.js"></script>
</head>
<style>
body{
	background-image: url("http://www.shunvmall.com/data/out/96/47882821-gradient-wallpaper.png");
	background-repeat: no-repeat;
	width: 100%; height: 150px; background-size: 100%;
}
</style>
<body>

<title>HomeScreen</title>

<p><p align='center'><font size = '30'>Ready to make some music?!?</font></p>
<div style="position:absolute; top:300px; left:200px; width:500px; height:100px;"<font size = '20'>Description Goes Here...</p>
</div>
 <center><form action="/profile" method="POST">
  	<select name="song">
 		<option value="NONE"> SONGS HERE </option>
 		<option value="Twinkle Twinkle Little Star"> Twinkle Twinkle Little Star </option>
 		<option value="Poker Face"> Poker Face </option>
 		<option value="The Best Song Ever"> The Best Song Ever </option>
 	</select>
 	<br><br>
 	<input class= "btn btn-primary" type="submit" value="Play Song">
</form></center> 
<IMG STYLE="position:absolute; TOP:300px; LEFT:700px; WIDTH:700px; HEIGHT:700px" SRC="http://pngimg.com/uploads/music_notes/music_notes_PNG77.png" alt="Musical Notes">
</body>
</html>

