
<!DOCTYPE html>
<head>
	<script src="jquery-3.2.0.min.js"></script>
<head>
<title>HomeScreen</title>

<h2>'Hello!! Welcome to this random page'<h2>

 <form action="/profile" method="POST">
 	<div class="form-group">
		First name:<br>
		<input type="text" name="firstname" ><br>
	</div>
  		Last name:<br>
 	<input type="text" name="lastname" ><br><br>
 		Age:<br>
 	<input type="text" name="age" ><br><br>
 		Favorite NINJA:<br>
 	<input type="text" name="Ninja" ><br><br>
 	<input class= "btn btn-primary" type="submit" value="Submit">
</form> 

